*, :after, :before {
    box-sizing: border-box;
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Maison,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,sans-serif;
    color: #16111c;
    >div, >div>div {
        width: 100%;
        height: 100%;
    }
}
.footer {
    border-top: 1px solid #342c3e;
    background-color: #16111c;
    height: 100%;
    flex: 0 1 40px;
    p {
        text-align: center;
        color: #c9c2e1;
        bottom: 10px;
    }
}
.container {
    display: flex;
    flex-flow: column;
    height: 100%;
}
.row {
    flex: 0 1 auto;
}
.growRow {
    flex: 1 1 auto;
    display: flex;
}
