.textContainer {
  width: 95%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.editor {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error {
  color: #504140;
  padding: 10px 60px;
  margin: 0;
  margin-bottom: 15px;
  background: #fffcfb;
  border: 1px solid #E7C0BC;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}

textarea {
  font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
  font-size: 14px;
  width: 100%;
  height: 100%;
  border: 0;
}

:global {

.flip-container {
  box-shadow: 0 2px 0 rgba(22,17,28,.1);
  border: 1px solid #dbd3e9;
  background: white;
}

.flip-container.hover .front {
  opacity: 0;
  visibility: hidden;
}
.flip-container.hover .back {
  opacity: 1;
  visibility: visible;
}

.flip-container, .front, .back {
  width: 100%;
  height: 100%;
}

.flipper {
  position: relative;
  width: 100%;
  height: 100%;
}

.front, .back {
  transition: all 0.6s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.front {
  opacity: 1;
  z-index: 1;
  visibility: visible;
}

.back {
  opacity: 0;
  z-index: 2;
  visibility: hidden;
  .hint {
    position: absolute;
    right: 0px;
    bottom: 0px;
    background: rgba(22,17,28,.1);
    padding: 5px;
  }
  textarea {
    background: lighten(black, 98%);
  }
}

}
